*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --light-color: #FFFFFF;
    --dark-color: #00040F;
    --border-color: #cfcdcd;
    --blue-color: #074C91;
    --purple-color: #6577FF;
}

.hovered:hover{
    color: #6577FF;
    transition: 0.3s ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
.no-scrollbar {
-ms-overflow-style: none; 
scrollbar-width: none; 
}

.fade-in{
    animation: fadein 0.3s linear;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bordered{
    border: 1px solid #cfcdcd;
}

select.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  